@media only screen and (min-width: 0px) and (max-width: 767px)
{
	
	.head1in h1{font-size: 50px;}
	.menu{display:none;
		position: absolute;
		width: 70%;
		top: -5%;
		left: 0%;
		background-color: black;
		z-index: 01;
								
				
	}
	.menu:hover li a{color: black;
					 
	}
	.barsmenu{
		display:block;
	}

}

						
					 	
					 	
								

				
					 		
			