.body{
					width:  100%;
					height:100%;
					background-color: lightblue;
			}

			.main{
					width: 1000px;
					
					margin:auto;

			}			
				.row1{
					width: 1000px;
					height: 159px;
					background: url("images/headerbg.jpg");
					}
							.logo{width:250px;
								  height:149px;
								  margin-left:25px;
								  padding-top: 10px;
								  float:left;
								 
							}
							.details{width:278px;
									 height:125px;
									 float:right;
									 margin-top:20px;
									 line-height:15px;
									 font-size:23px;
									 padding-left:10px;
									 padding-top:10px;
									 margin-right:30px;
									 color:white;
									 background:url("images/topcontactbg.png")no-repeat;
							}
					
				.row2{
					width: 1000px;
					height: 43px;
					background: url("images/menubg.jpg")repeat-x;

					}
							.menu{width:100px;
								  height:33px;
								  text-align:center;
								  padding-top:10px;
								  float:left;
								  border-right:1px solid darkblue;
								  font-weight:bold;

								  							  
							}
							.menu:hover{
								font-size:20px;
								background: url("images/menubg_hover.jpg")repeat-x;
							}
							
							
							.menu a{
								color:white;
								text-decoration:none;	
							}	
							
							.right2 p b{
								color:red;
								font-size:25px;
							}
					
				.row3{
					width: 1000px;
					
					height: 293px;					

					}
							.left{width:230px;
								  height:290px;	
								  float:left;
								  background: #2b77a0;
								  
							}
									.c{width:200px;
									   height:260px;
									   margin-left:10px;
									   margin-top:10px;
									   padding-left:10px;
									   padding-top:10px;
									   line-height:30px;
										background:white;
										
									}
									
							.m{width:17px;
							   height:290px;
							   background:url("images/separator.jpg");
							   float:left;
							 
							   
							}
							.right1{width:752px;
								   height:286px;
								   padding-top:5px;
								   float:left;
								   background:#2b77a0 ;
								   
							}
					
				.row4{
					width: 1000px;
					
					height: 290px;	
					background:white;

					}
							.left2{width:238px;
								  height:290px;	
								  float:left;
								
							}
									.c2{width:200px;
									   height:260px;
									   margin-left:10px;
									   margin-top:10px;
									   padding-left:10px;
									   padding-top:10px;
									   line-height:30px;
									   background:white;
									}
							
							.right2{width:741px;
								   height:265px;
								   margin-top:5px;
								   padding-top:5px;
								   padding-left:15px;
								   float:left;
								   border-left: solid 2px #dddddd;
							}
								.right2 p{font-size:13px;
									
								}
								
				.row5{
					width: 1000px;
					height: 219px;
					background:url("images/footerbg.jpg")no-repeat;
					}
						
							.fdiv{width:300px;
								  height:200px;
								  float:left;
								  margin-left:20px;
								  margin-top:8px;
								  color:white;
							}
								
								.fdiv ul{float:left;
									
								}
								.fdiv ul li{list-style:none;
											line-height:30px;
											
									
								}
								.fdiv a {text-decoration:none;
										 color:white;
										
								}
								.fh{width:250px;
									font-size:20px;
									font-weight:bold;
									padding-left:20px;
									
									
									}
									.p{font-size:12px;
										padding-left:20px;
										width:250px;
										
									}
									.sm{float:left;
										margin-left:10px;
										margin-top:15px;
										padding-top:8px;
										
									}
									.sm1{float:left;
										margin-left:10px;
										margin-top:15px;
										width:102px;
										height:35px;
										background:url("images/my.png")no-repeat;
										padding-left:54px;
										padding-top:10px;
									}
					
				.row6{
					width: 1000px;
					height: 48px;	
					background:#033a53;
					
						}	
								.flest{float:left;
										margin-top:15px;
										margin-left:15px;
										color:white;
								}
								.flest1{float:right;
										margin-top:15px;
										color:white;
										margin-right:15px;
								}
				.row7{width:1000px;
					  height:595px;
					  background: white;
					  
					
				}
				.middle{width:240px;
					  height:590px;	
					  float:left;
					  background: #2b77a0;
				}
				
					.right{width:718px;
							height:260px;
							float:left;
							background:white;
							padding:15px;
							
						
					}
						.right img{width:200px;
									height:200px;
									margin-left:20px;
									margin-top:20px;
							
						}
						
				
					.middlec2{width:200px;
					   height:270px;
					   margin-left:10px;
					   margin-top:10px;
					   padding-left:10px;
					   padding-top:10px;
					   line-height:30px;
					   background:white;
					}
					
		form >ul{list-style:none;
				line-height:50px;
				font-weight:bold;
				font-size:20px;
				float:left;
			
		}	
			select{width:173px;}
			textarea{width:173px;
				
			}		
			.row7a{width:1000px;
					  height:665px;
					  background:white;
				
			}
				
			.right3{width:728px;
					height:630px;
					float:left;
					background:white;
					padding:15px;
		
			}
			.k{float:left;
				
			}
			.kb{border-top:dotted 2px black;
				float:left;
				width: 55px;
				margin-left: 6px;
				margin-right: 6px;
				margin-top: 15px;
			}